
     <div>
        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"> Login</a>
        <a href="/signup" class="btn btn-default"> Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        {{!-- <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a> --}}
    </div>
    sorry
<div id="map"></div>
<style>
       #map {
        height: 500px;
        width: 100%;
       }
</style>
<script>

let arts = JSON.parse('{{{json arts}}}')
console.log(arts)
window.onload = () => {
  console.log('we need markers')

  const ironhackMiami = {
  	lat: 25.765787699999997,
  	lng: -80.19577989999999
  };



  const map = new google.maps.Map(
    document.getElementById('map'),
    {
      zoom: 5,
      center: ironhackMiami
    });

 let center = {
    lat: ironhackMiami.lat,
    lng: ironhackMiami.lng
  }; 

  const markers = []
  arts.forEach(art=>{

    //var myLatLng = {lat: -25.363, lng: 131.044};
    var myLatLng = {lat: art.latitude, lng: art.longitude }

    let marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
    });
    markers.push(marker)
})
console.log(markers)





 /* function getArt() {
  axios.get("/api")
   .then( res => {
     placeArt(res.data.art);
   })
   .catch(error => {
     console.log(error);
   })
 }
 function placeArt(art){
  art.forEach(function(art){
    const center = {
      lat: art.location.coordinates[1],
      lng: art.location.coordinates[0]
    };
    const pin = new google.maps.Marker({
      position: center,
      map: map,
      title: art.artName
    });
    markers.push(pin);
  });
}
getArt();*/
}

</script>

