
     <div>
        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"> Login</a>
        <a href="/signup" class="btn btn-default"> Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        {{!-- <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a> --}}
    </div>
    sorry
<div id="map"></div>
<style>
       #map {
        height: 500px;
        width: 100%;
       }
</style>
<script>

function startMap() {
  const ironhackMiami = {
  	lat: 25.765787699999997,
  	lng: -80.19577989999999};
  const map = new google.maps.Map(
    document.getElementById('map'),
    {
      zoom: 5,
      center: ironhackMiami
    }
  );
  const myMarker = new google.maps.Marker({
  position: {
 
    lat: ironhackMiami.lat,
    lng: ironhackMiami.lng
  },
  map: map,
  title: "I'm here"
});


}

startMap();

</script>

