
     <div class = "nav justify-content">
        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default "> Login</a>
        <a href="/signup" class="btn btn-default"> Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        {{!-- <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a> --}}
    </div>
    sorry
<div id="map"></div>
<style>
       #map {
        height: 500px;
        width: 100%;
       }
</style>
<script>

let arts = JSON.parse('{{{json arts}}}')
console.log(arts)
window.onload = () => {
  console.log('we need markers')

  const ironhackMiami = {
  	lat: 25.765787699999997,
  	lng: -80.19577989999999
  };



  const map = new google.maps.Map(
    document.getElementById('map'),
    {
      zoom: 5,
      center: ironhackMiami
    });

 let center = {
    lat: ironhackMiami.lat,
    lng: ironhackMiami.lng
  }; 
  const markers = []
  arts.forEach(art=>{

    //var myLatLng = {lat: -25.363, lng: 131.044};
    var myLatLng = {lat: art.latitude, lng: art.longitude }
    
    {{!-- var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/'; --}}
    var contentString = `
    <div id="content">
      <img style="width: 100px" src="${art.photoPath}" /><br>
      ${art.artName} by 
      ${art.artistName.nickName}
    </div>
    `;

    var infowindow = new google.maps.InfoWindow({
    content: contentString
});
    let marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'click me!',
    });
    
    marker.addListener('click', function() {
    infowindow.open(map, marker);
})
console.log(markers)
  });
}

</script>

{{!-- 
  const map = new google.maps.Map(
    document.getElementById('map'),
    {
      zoom: 5,
      center: ironhackMiami
    });

 let center = {
    lat: ironhackMiami.lat,
    lng: ironhackMiami.lng
  }; 
  const markers = []
  arts.forEach(art=>{

    //var myLatLng = {lat: -25.363, lng: 131.044};
    var myLatLng = {lat: art.latitude, lng: art.longitude }
    var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
    
    let marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: iconBase + 'parking_lot_maps.png',
          
          title: 'Hello World!'
    });
    markers.push(marker)
}) --}}
