*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'bebas_neueregular';
  src: url('bebasneue-regular-webfont.woff2') format('woff2'),
       url('bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.background {
  height: 515px;
  width: 100%;
  background-image: url("./images/w.jpeg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
} 

body {
  font-family: 'Times New Roman', Times, serif;
  font-weight:normal;
  font-style:normal;
  font-size: 16px;
}

#navbar {
  font-family: 'bebas_neueregular';
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 1em;
  font-size: 1.5em;
}

#navbar-profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  font-size: 1.5em;
}

#navbar-profile a{
  color: black;
  text-decoration: none;
  padding: 0.1em;
}  
  
#navbar a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 0.1em;
}  

.logo {
  font: Bebas Neue;
}

.logo-signup {
  font: Bebas Neue;
  width: 100%;
  padding: 1em;
  font-size: 1.5em; 
}

.logo-signup a {
  color:black;
  text-decoration: none;
}

#content {
  /* font-family: 'Amatic SC', cursive; */
  font-weight:normal;
  font-style:normal;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#map {
  height: 400px;
  width: 45%;
  margin: 1em;
 }

 .map-right {
  height: 400px;
  width: 45%;
  margin: 1em;
 }
 @media (max-width:1200px) {
  .background div {
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

 @media (max-width:1024px) {
  .map-right {
    font-size: 0.9em;
  }

}
@media (max-width:768px) {
  .map-right {
    font-size: 0.85em;
  }
  .background div {
    top: 25%;
}
}
@media (max-width:688px) {
  .map-right {
    font-size: 0.8em;
  }
}

@media (max-width:414px) {
  .map-right {
    font-size: 0.64em;
    width: auto;
    margin: 1.5em;
    height: 200px;
  }
  .background div {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #map {
    width: auto;
  }
  .map-container {
    flex-direction: column;
  }
}
.comment {
  color:#F60052;
  font-size: 0.7em;
  padding: 0;
  white-space: nowrap;
}

@media (max-width:375px) {
  #map {
    width: auto;
  }
  .map-right {
    width: auto;
    margin: 1.5em;
    font-size: 0.62em;
    height: 200px;
  } 
  .map-container {
    flex-direction: column;
  }
  .background div {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width:360px) {
  .map-right {
    font-size: 0.6em;
  }
}
@media (max-width:320px) {
  .map-right {
    font-size: 0.55em;
  }
}

.map-container {
  display: flex;
}

#map-2 {
 height: 23em;
 position: fixed;
 margin: 0 1em 1em;
}

#map-3 {
  height: 23em;
  position: fixed;
  margin: 0.3em;
}
.edit-data input {
  border: 0.06em solid #F60052;
  width: 15.25em;
}

#map-4 {
  height: 23em;
  position: fixed;
  margin: 0.3em;
}

.signup-text {
  font-size: 1.5em;
  margin: 80px 0px 15px;
}

.container-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup {
  border-bottom: #F60052 solid 0.1em;
  border-style: none none solid none;
  width: 280px;
  margin: 15px 0px 15px;
}

.signup-button{
  background-color: #001333;
  color: white;
  width: 280px;
  height: 40px;
  border: none;
  /* border-radius: 0.1em; */
  margin: 15px 0px 15px;
  font-size: 15px;
}

.login-link {
  color:#F60052;
  font-weight: normal;
}

.header-container {
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 1.6em;
  padding: 1em;
}

.header-container a {
  font-size: 2vh;
}

.header-container a:hover {
  background-color: #ddd;
  color: black;
}

.signup-profile {
  background-color: #001333;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 0.1em;
  margin: 15px 25px 15px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.centered {
  color: white;
  font-family: "Times New Roman";
  /* text-shadow: 5px 10px 2px rgba(0,0,0,.9); */
  font-size: 1.5em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

ul#arts{
  display: inline-flex;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#arts li {
  list-style-type: none;
  /* border-right: 1px solid black; */
  /* background-color: #eee; */
  width: 75vw;
  padding: 0.7em;
}

#arts li div {
  width: 33vh;
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgb(159, 157, 157);
}

#arts li span{
  width:100%;
  display:inline-flex;
  vertical-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: -1;
}

#arts li a {
  margin: 0;
  display:inline-block;
  width:33%;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  color: #F60052;
}

#arts li a:hover {
  background-color: #ddd;
  color: black;
}

.labels {
  width: 8em;
  font-size: 1em;
  padding: 0;
}

@media (max-width: 400px) {
  .details-image {
   display: flex; 
   flex-direction: column;
  }
}

.details-inline {
  display: flex;
  align-items: flex-end;
}

.details-data {
  border-bottom: 0.1em solid #F60052;
  width: 16.7em;
  margin-right: 0.5em;
  font-size: 1em;
}
/* 
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700); */

body {
  background: #fff;
  color: #000;
  margin: 0;
}

.tile {
  position: relative;
  float: left;
  width: 70%;
  height: 100%;
  overflow: hidden;
  padding-right: 20px;
}

.edit-form {
font-size: 3vw;
}

label {
  font-size: 2.5vw;
  margin-bottom: 0;
}

.facebook {
  margin-bottom: 20px;
}

.title-center {
display: flex;  
justify-content: center;
padding: 1em;
}

.details-image img{
  height: 50vh;
}

.details-container{
  display: flex;
  justify-content: center;
}

@media (max-width:937px) {
  .details-container {
    flex-direction: column;
  align-items: center;
  }
}

@media (max-width:586px) {
  .details-container {
    flex-direction: column;
    align-items: center;
  }
  .details-image img {
    height: 30vh;
    margin-top: 1em;
}
}

.details-image img:hover {
    transition: transform .2s;
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
  
  }

.details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edit-image img {
  height: 50vh;
}

.edit-container {
  display: flex;
  justify-content: center;
}
@media (max-width:992px) {
  .edit-container {
    flex-direction: column;
    align-items: center;
  }
  .edit-image img {
    height: 30vh;
}
}
@media (max-width:375px) {
  .edit-data input {
    width: 12em;
  }
  .labels {
  font-size: 0.8em;
  width: 8em;
  }
  .edit-image {
    height: 30vh;
    margin: auto;
}
}
.coordinates-button {
  /* margin-left: 8%; */
  color: white;
  background: #001333;
  border: none;
  width: 7.5em;
  /* border-radius: 0.1em; */
}

.edit-border {
  display: flex;
  align-items: center;
  margin: 0.2em 0.2em 1em 0.2em;
  justify-content: space-between;
}



@media (max-width:375px) {
  .edit-data input {
    width: 12em;
  }
  .edit-container {
  align-items: flex-start;
  }
  .coordinates-button {
    
}
}
.edit-data input {
  border: 0.06em solid #F60052;
  width: 15.25em;
}

.edit-inline {
  display: flex;
  align-items: center;
  margin: 0.2em;
  justify-content: space-between
}
.edit-coord input{
  width: 7.5em;
  border: 0.06em solid #F60052;
}


.edit-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1em;
}



.add-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.add-inline {
    display: flex;
    align-items: center;
    margin: 0.2em;
}


.thumbnail {
  width:150px;
  height:150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  transition: all .2s;

}

.thumbnail:hover {
  width:500px;
  height:250px;
}


/* .scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scrolling-wrapper-flexbox.card {
    flex: 0 0 auto;
    margin-right: 3px;
  }


.card {
  border: 2px solid red;
  width: 150px;
  height: 75px;
  background: black;
}

.scrolling-wrapper-flexbox {
  height: 80px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
  .scrolling-wrapper-flexbox ::-webkit-scrollbar {
    display: none;
  
}
#container {
  display: none;
} */

/* #divToShowHide{
  top:100px;
position:fixed;
}
.BeforeScroll {
  height: 100px;
  width: 100%;
  display: none;
}
.AfterScroll {
  height: 100px;
  width: 100%;
  display: block;
} */